 <div class="jumbotron">
    <h1 class="display-4">Hola, {{ name }}</h1>
    <p class="lead">lorem ipsum.</p>
    <hr class="my-4">
    <p>lorem ipsum.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>